:root {
    /** Colour variables **/
    --colour-black: hsl(0, 0%, 0%);

    --colour-gray: hsl(0, 0%, 75%);
    --colour-gray-dark: hsl(0, 0%, 65%);
    --colour-gray-darker: hsl(0, 0%, 35%);
    --colour-gray-darkest: hsl(0, 0%, 15%);

    --colour-blue: hsl(190, 50%, 50%);
    --colour-blue-dark: hsl(190, 50%, 35%);

    --colour-red: hsl(0, 50%, 50%);
    --colour-red-dark: hsl(0, 50%, 35%);

    --colour-green: hsl(125, 50%, 55%);
    --colour-green-dark: hsl(125, 50%, 35%);

    --colour-navy: hsl(210, 25%, 35%);
    --colour-navy-dark: hsl(210, 25%, 25%);
    --colour-navy-darker: hsl(210, 25%, 16%);
    --colour-navy-darkest: hsl(210, 25%, 10%);

    /** Theme settings **/
    --theme-colour-bg: var(--colour-navy);
    --theme-colour-bg-dark:  var(--colour-navy-dark);
    --theme-colour-bg-darker:  var(--colour-navy-darker);
    --theme-colour-bg-darkest:  var(--colour-navy-darkest);

    --theme-colour-text:  var(--colour-gray);
    --theme-colour-text-light: hsl(0, 0%, 75%);

    /** General variables **/
    --border: 5px solid var(--theme-colour-bg-darkest);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0.1em 0.25em;
    font-family: 'JetBrains Mono', monospace;

    color: var(--theme-colour-text-light);

    background-color: var(--theme-colour-bg-darkest);
    border-radius: 0.2em;
}

p {
    margin: 0.35em;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5em;
    color: var(--theme-colour-text);
}

body {
    padding: 0;
    margin: 0;
}

.text {
    width: 66ch;
}

.text-dark {
    color: var(--theme-colour-bg-darkest);
}

/** Gradients **/
.gradient-green {
    background-image: linear-gradient(45deg, var(--colour-green), var(--colour-green-dark));
}

.gradient-blue-green {
    background-image: linear-gradient(45deg, var(--colour-green), var(--colour-blue));
}

.gradient-red {
    background-image: linear-gradient(45deg, var(--colour-red), var(--colour-red-dark));
}

.gradient-text {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}