body {
	padding: 0;
	margin: 0;
}

:root {
	/** Colour Variables **/
	--colour-white: #9c9c9c;

	--colour-black: #181818;

	--colour-gray: #7f7f7f;
	--colour-gray-dark: #525151;
	--colour-gray-darker: #343434;

	--colour-blue: #5c99ac;
	--colour-blue-dark: #34707f;

	--colour-red: #c46f6f;
	--colour-red-dark: #a74646;

	--colour-green: #71d18b;
	--colour-green-dark: #4ba663;

	--colour-orange: #ebb275;
	--colour-orange-dark: #d47f5b;

	/** Transition Variables **/
	--transition-bg: background-color 0.1s ease-in-out;
	--transition-text: color 0.1s ease-in-out;

	/** Font Variables **/
	--font-mono: "Fira Mono", monospace;
	--font-sans: "Open Sans", sans-serif;
}

.dark-theme {
	--theme-bg: var(--colour-gray);
	--theme-bg-alt: var(--colour-gray-dark);
	--theme-bg-dark: var(--colour-gray-darker);

	--theme-text: var(--colour-black);
	--theme-text-dark: var(--colour-gray-dark);
	--theme-text-light: var(--colour-white);

	--theme-text-bg: var(--colour-gray-darker);

	--theme-text-highlight: var(--colour-blue);
	--theme-text-highlight-alt: var(--colour-blue-dark);

	--theme-font-mono: var(--font-mono);
	--theme-font-sans: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--theme-font-mono);
	padding: 0.2em;
	margin: 0.35em 0;

	background-color: var(--theme-text-bg);
	color: var(--theme-text-light);
	border-radius: 0.2em;
}

p {
	font-family: var(--theme-font-sans);
	margin: 0;
	padding: 0.2em;
}

/** Gradient Variables **/
.gradient-green-blue {
	background-color: -webkit-linear-gradient(45deg, var(--colour-green), var(--colour-blue));
	background: -webkit-linear-gradient(45deg, var(--colour-green), var(--colour-blue));
}
.gradient-red-orange {
	background-color: -webkit-linear-gradient(45deg, var(--colour-red), var(--colour-orange));
	background: -webkit-linear-gradient(45deg, var(--colour-red), var(--colour-orange));
}

.gradient-red-orange-dark {
	background-color: -webkit-linear-gradient(45deg, var(--colour-red-dark), var(--colour-orange-dark));
	background: -webkit-linear-gradient(45deg, var(--colour-red-dark), var(--colour-orange-dark));
}

.gradient-text {
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.text {
	max-width: 66ch;
}